In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import funciones_ML as bt

# Configurar pandas para mostrar todas las filas y columnas
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
#pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)


# Código para los tamaños de las fuentes y los "ticks" de los ejes:
plt.rc('font', size=6)
plt.rc('axes', labelsize=10, titlesize=10)
plt.rc('legend', fontsize=10)
plt.rc('xtick', labelsize=10)
plt.rc('ytick', labelsize=10)

#  INTRODUCCION

Este proyecto esta basado en la concatenación de 12 dataset con datos tecnicos y concretos sobre ataques malware, siendo la ide del presente trabajo en analizar la gran cantidad de datos obtenidos para establecer un modelo de red neuronal que pueda prevenir los ataques malware identificados como "benign o malicious" e ir alimentándolo en un futuro con nuevos datos.

DF1

In [6]:
df_1=pd.read_csv(R"D:\Cursos\REPOSITORIOS\DATASET\malware_total\original\CTU-IoT-Malware-Capture-1-1conn.log.labeled.csv", sep="|")

In [8]:
df_1.shape

(1008748, 23)

In [7]:
df_1.head(1)

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,...,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents,label,detailed-label
0,1.525880e+09,CUmrqr4svHuSXJy5z7,192.168.100.103,51524.0,65.127.233.163,23.0,tcp,-,2.999051,0,...,-,0.0,S,3.0,180.0,0.0,0.0,-,Malicious,PartOfAHorizontalPortScan

DF2

In [10]:
df_2=pd.read_csv("D:\Cursos\REPOSITORIOS\DATASET\malware_total\original\CTU-IoT-Malware-Capture-3-1conn.log.labeled.csv", sep="|")

In [11]:
df_2.shape

(156103, 23)

DF3

In [12]:
df_3=pd.read_csv("D:\Cursos\REPOSITORIOS\DATASET\malware_total\original\CTU-IoT-Malware-Capture-8-1conn.log.labeled.csv", sep="|")

In [13]:
df_3.shape

(10403, 23)

DF4

In [14]:
df_4=pd.read_csv("D:\Cursos\REPOSITORIOS\DATASET\malware_total\original\CTU-IoT-Malware-Capture-9-1conn.log.labeled.csv", sep="|")

In [15]:
df_4.shape

(6378293, 23)

DF5

In [16]:
df_5=pd.read_csv("D:\Cursos\REPOSITORIOS\DATASET\malware_total\original\CTU-IoT-Malware-Capture-20-1conn.log.labeled.csv", sep="|")

In [17]:
df_5.shape

(3209, 23)

DF6

In [18]:
df_6=pd.read_csv("D:\Cursos\REPOSITORIOS\DATASET\malware_total\original\CTU-IoT-Malware-Capture-21-1conn.log.labeled.csv", sep="|")

In [19]:
df_6.shape

(3286, 23)

DF7

In [20]:
df_7=pd.read_csv("D:\Cursos\REPOSITORIOS\DATASET\malware_total\original\CTU-IoT-Malware-Capture-34-1conn.log.labeled.csv", sep="|")

In [21]:
df_7.shape

(23145, 23)

DF8

In [22]:
df_8=pd.read_csv("D:\Cursos\REPOSITORIOS\DATASET\malware_total\original\CTU-IoT-Malware-Capture-35-1conn.log.labeled.csv", sep="|")

In [120]:
df_8.shape

(10447787, 23)

DF9

In [23]:
df_9=pd.read_csv("D:\Cursos\REPOSITORIOS\DATASET\malware_total\original\CTU-IoT-Malware-Capture-42-1conn.log.labeled.csv", sep="|")

In [24]:
df_9.shape

(4426, 23)

DF10

In [25]:
df_10=pd.read_csv("D:\Cursos\REPOSITORIOS\DATASET\malware_total\original\CTU-IoT-Malware-Capture-44-1conn.log.labeled.csv", sep="|")

In [26]:
df_10.shape

(237, 23)

DF11

In [32]:
dtypes = {8: 'str', 9: 'str', 10: 'str'} 
df_11 = pd.read_csv("D:\Cursos\REPOSITORIOS\DATASET\malware_total\original\CTU-IoT-Malware-Capture-48-1conn.log.labeled.csv", sep="|", dtype=dtypes)

In [33]:
df_11.shape

(3394338, 23)

DF12

In [34]:
df_12=pd.read_csv("\Cursos\REPOSITORIOS\DATASET\malware_total\original\CTU-IoT-Malware-Capture-60-1conn.log.labeled.csv", sep="|")

In [129]:
df_12.shape

(3581028, 23)

In [35]:
lista=[df_1, df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10,df_11,df_12]

CONCATENO LOS 12 ANTERIORES

In [38]:
df_malware_origen= pd.concat(lista, axis=0)

In [40]:
df_malware_origen.head()

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,...,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents,label,detailed-label
0,1.525880e+09,CUmrqr4svHuSXJy5z7,192.168.100.103,51524.0,65.127.233.163,23.0,tcp,-,2.999051,0,...,-,0.0,S,3.0,180.0,0.0,0.0,-,Malicious,PartOfAHorizontalPortScan
1,1.525880e+09,CH98aB3s1kJeq6SFOc,192.168.100.103,56305.0,63.150.16.171,23.0,tcp,-,-,-,...,-,0.0,S,1.0,60.0,0.0,0.0,-,Malicious,PartOfAHorizontalPortScan
2,1.525880e+09,C3GBTkINvXNjVGtN5,192.168.100.103,41101.0,111.40.23.49,23.0,tcp,-,-,-,...,-,0.0,S,1.0,60.0,0.0,0.0,-,Malicious,PartOfAHorizontalPortScan
3,1.525880e+09,CDe43c1PtgynajGI6,192.168.100.103,60905.0,131.174.215.147,23.0,tcp,-,2.998796,0,...,-,0.0,S,3.0,180.0,0.0,0.0,-,Malicious,PartOfAHorizontalPortScan
4,1.525880e+09,CJaDcG3MZzvf1YVYI4,192.168.100.103,44301.0,91.42.47.63,23.0,tcp,-,-,-,...,-,0.0,S,1.0,60.0,0.0,0.0,-,Malicious,PartOfAHorizontalPortScan

In [41]:
df_malware_origen.shape

(25011003, 23)

In [46]:
df_malware_origen.to_csv("D:\Cursos\REPOSITORIOS\DATASET\malware_total\df_malware_origen.csv", index=False)

HAGO UN SAMPLE DE 5MB DEL DATA ORIGEN SIN TRATAR

In [104]:
dtypes = {8: 'str', 9: 'str', 10: 'str'}
df_muestra_sin_tratar=pd.read_csv(r"D:\Cursos\REPOSITORIOS\DATASET\malware_total\df_malware_origen.csv", chunksize=10000000 , dtype=dtypes)
for chunk in df_muestra_sin_tratar:
    # Obtiene una muestra aleatoria de 194000 filas que son 5mb
    df_sample5MB_sin_tratar= chunk.sample(200000)
    
size = df_sample5MB_sin_tratar.size

size_mb = size / 1024 / 1024
size_mb

4.38690185546875

In [105]:
df_sample5MB_sin_tratar.to_csv("D:\Cursos\REPOSITORIOS\DATASET\malware_total\df_sample5MB_sin_tratar.csv", index=False)

## EDA.- COMENZAMOS CON LAS TAREA DE LIMPIEZA Y TRATAMIENTO DE DATOS

In [47]:
df_malware_origen.isnull().sum()

ts                      0
uid                     0
id.orig_h               0
id.orig_p               0
id.resp_h               0
id.resp_p               0
proto                   0
service                 0
duration                0
orig_bytes              0
resp_bytes              0
conn_state              0
local_orig              0
local_resp              0
missed_bytes            0
history                 0
orig_pkts               0
orig_ip_bytes           0
resp_pkts               0
resp_ip_bytes           0
tunnel_parents          0
label                   0
detailed-label    9173954
dtype: int64

LISTA DE COLUMNAS A ELIMINAR

In [49]:
eliminacion=[]
for col in df_malware_origen.columns:
    if df_malware_origen[col].isnull().sum()>0:
        eliminacion.append(col)

CONTAR GUIONES

In [61]:
def contar_guiones(df, columnas):
    for col in columnas:
        if df[col].dtype == 'object':  
            print(col, df[col].str.count("-").sum())

In [62]:
contar_guiones(df_malware_origen,df_malware_origen.columns)

uid 0
id.orig_h 0
id.resp_h 0
proto 0
service 24993006
duration 16904965
orig_bytes 15272073
resp_bytes 15272073
conn_state 0
local_orig 25011003
local_resp 25011003
history 25116
tunnel_parents 25011003
label 0
detailed-label 8780158.0

VALORES UNICOS DE LAS COLUMNAS Y SU NUMERO

In [63]:
def valores_unicos(df, limite=10):
    for col in df.columns:
        unicos = df[col].unique()
        if len(unicos) > limite:
            print(f"{col}: {unicos[:limite]} + ({len(unicos)} valores únicos en total)")
        else:
            print(f"{col}: {unicos}")

In [64]:
valores_unicos(df_malware_origen)

ts: [1.52587983e+09 1.52587983e+09 1.52587983e+09 1.52587983e+09
 1.52587983e+09 1.52587983e+09 1.52587983e+09 1.52587983e+09
 1.52587983e+09 1.52587983e+09] + (25011003 valores únicos en total)
uid: ['CUmrqr4svHuSXJy5z7' 'CH98aB3s1kJeq6SFOc' 'C3GBTkINvXNjVGtN5'
 'CDe43c1PtgynajGI6' 'CJaDcG3MZzvf1YVYI4' 'CMBrup3BLXivSp4Avc'
 'CfHl9r3XMYtDQRrHnh' 'C7USrA15nFVkniMqC5' 'CDtZ4so7bHKpIeCmi'
 'Cj9lm7amKnWiNDh9c'] + (25011003 valores únicos en total)
id.orig_h: ['192.168.100.103' '192.168.100.1' '122.152.1.198' '77.217.131.211'
 '182.38.96.176' '192.232.220.245' '211.170.38.34' '71.238.84.246'
 '147.97.27.145' '87.204.77.175'] + (21442 valores únicos en total)
id.orig_p: [51524. 56305. 41101. 60905. 44301. 50244. 34243. 34840. 58525. 43849.] + (65536 valores únicos en total)
id.resp_h: ['65.127.233.163' '63.150.16.171' '111.40.23.49' '131.174.215.147'
 '91.42.47.63' '120.210.108.200' '147.7.65.203' '145.164.35.6'
 '177.75.151.125' '94.145.70.119'] + (11654579 valores únicos en total)
id.resp_p: [2.3000e+01 4.9560e+04 2.1288e+04 8.0800e+03 2.3230e+03 9.5270e+03
 3.4797e+04 1.4336e+04 1.1764e+04 2.4410e+03] + (65435 valores únicos en total)
proto: ['tcp' 'udp' 'icmp']
service: ['-' 'http' 'dhcp' 'ssh' 'dns' 'irc' 'ssl']
duration: ['2.999051' '-' '2.998796' '2.998804' '2.999300' '2.993548' '2.998807'
 '2.999050' '2.999302' '2.999057'] + (1045963 valores únicos en total)
orig_bytes: ['0' '-' '48' '180' '120' '400' '80' '220' '440' '56'] + (66149 valores únicos en total)
resp_bytes: ['0' '-' '48' '139' '37' '486' '497' '339' '215' '218'] + (886 valores únicos en total)
conn_state: ['S0' 'REJ' 'SF' 'OTH' 'RSTOS0' 'RSTR' 'S2' 'RSTRH' 'RSTO' 'S1'] + (13 valores únicos en total)
local_orig: ['-']
local_resp: ['-']
missed_bytes: [   0. 8088. 1440. 8160. 1579. 1582. 4500. 2472. 5390. 2896.] + (23 valores únicos en total)
history: ['S' 'Sr' 'D' 'Dd' '-' 'R' 'ShAdaFr' 'ShAfFa' 'ShAdfFa' 'ShAF'] + (264 valores únicos en total)
orig_pkts: [ 3.  1.  2.  7. 12.  4.  8.  9. 10.  0.] + (207 valores únicos en total)
orig_ip_bytes: [180.  60. 120.  40.  76. 264.  56.  68. 176. 596.] + (1858 valores únicos en total)
resp_pkts: [ 0.  1. 12.  3.  4.  2. 11. 13.  5. 17.] + (129 valores únicos en total)
resp_ip_bytes: [  0.  40.  76. 623. 164.  72.  52. 253.  44. 702.] + (1889 valores únicos en total)
tunnel_parents: ['-']
label: ['Malicious' 'Benign' 'Malicious   C&C'
 'Malicious   PartOfAHorizontalPortScan' 'Malicious   DDoS'
 'Malicious   Attack' 'Malicious   FileDownload']
detailed-label: ['PartOfAHorizontalPortScan' '-' 'C&C' 'Attack' 'Torii' nan 'FileDownload'
 'HeartBeat']

In [69]:
for col in df_malware_origen[["uid", "id.orig_h", "duration"]]:
    eliminacion.append(col)

In [70]:
eliminacion

['detailed-label', 'uid', 'id.orig_h', 'duration']

In [71]:
df_malware_origen.drop(eliminacion, axis=1, inplace=True)

Convertimos los guiones en NaN

In [73]:
df_malware_origen.replace("-", np.nan, inplace=True)
#lo paso a formato de punto flotante para mostrar COMO NaN los guiones
pd.options.display.float_format = '{:,.0f}'.format

In [74]:
df_malware_origen.isna().sum()

ts                       0
id.orig_p                0
id.resp_h                0
id.resp_p                0
proto                    0
service           24993006
orig_bytes        15272073
resp_bytes        15272073
conn_state               0
local_orig        25011003
local_resp        25011003
missed_bytes             0
history              25116
orig_pkts                0
orig_ip_bytes            0
resp_pkts                0
resp_ip_bytes            0
tunnel_parents    25011003
label                    0
dtype: int64

In [75]:
#debido a la gran cantidad de nulos, me cargo varias columnas : ["service", "duration", orig_bytes","resp_bytes",local_orig", "local_resp","tunnel_parents", "detailed_label"]
df_malware_origen.drop(columns={"service", "orig_bytes","resp_bytes","local_orig", "local_resp","tunnel_parents"}, inplace=True)

history la imputo con la moda ya teneia pocoa 25000

In [77]:
df_malware_origen.history.fillna("S", inplace=True)

SE MODIFICA EL FORMATO DE HORA DE UNIX A FORMATO DATATIME

In [24]:
df_malware_origen.ts

0         1,525,879,831
1         1,525,879,831
2         1,525,879,831
3         1,525,879,832
4         1,525,879,832
               ...
3581023   1,569,025,924
3581024   1,568,941,445
3581025   1,569,026,391
3581026   1,569,026,380
3581027   1,569,026,383
Name: ts, Length: 25011003, dtype: float64

In [78]:
#convierto de horario unix a datetime
df_malware_origen['ts'] = pd.to_datetime(df_malware_origen['ts'], unit='s')

In [94]:
#separo columnas de tiempos
df_malware_origen["anyo"] = df_malware_origen["ts"].dt.year
df_malware_origen["mes"] = df_malware_origen["ts"].dt.month
df_malware_origen["dia"] = df_malware_origen["ts"].dt.day
df_malware_origen["hora"] = df_malware_origen["ts"].dt.hour

In [93]:
df_malware_origen

,ts,id.orig_p,id.resp_h,id.resp_p,proto,conn_state,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,label,anyo,mes,dia,hora
0,2018-05-09 15:30:31.015811072,"51,524",65.127.233.163,23,tcp,S0,0,S,3,180,0,0,Malicious,2018,5,9,15
1,2018-05-09 15:30:31.025054976,"56,305",63.150.16.171,23,tcp,S0,0,S,1,60,0,0,Malicious,2018,5,9,15
2,2018-05-09 15:30:31.045044992,"41,101",111.40.23.49,23,tcp,S0,0,S,1,60,0,0,Malicious,2018,5,9,15
3,2018-05-09 15:30:32.016239872,"60,905",131.174.215.147,23,tcp,S0,0,S,3,180,0,0,Malicious,2018,5,9,15
4,2018-05-09 15:30:32.024985088,"44,301",91.42.47.63,23,tcp,S0,0,S,1,60,0,0,Malicious,2018,5,9,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3581023,2019-09-21 00:32:03.773210880,123,89.221.210.188,123,udp,SF,0,Dd,2,152,2,152,Benign,2019,9,21,0
3581024,2019-09-20 01:04:04.764034048,"37,306",102.165.48.81,"17,769",tcp,S1,0,ShAdDaT,"8,952","483,602","9,613","520,116",Malicious C&C,2019,9,20,1
3581025,2019-09-21 00:39:50.773122048,123,212.111.30.190,123,udp,SF,0,Dd,2,152,2,152,Benign,2019,9,21,0
3581026,2019-09-21 00:39:39.773117184,123,5.1.56.123,123,udp,SF,0,Dd,2,152,2,152,Benign,2019,9,21,0
3581027,2019-09-21 00:39:42.773051904,123,81.2.254.32,123,udp,SF,0,Dd,2,152,2,152,Benign,2019,9,21,0

In [95]:
#elimino ts
df_malware_origen.drop(columns={"ts"}, inplace=True)

In [97]:
df_malware_origen.shape

(25011003, 16)

In [106]:
df_malware_origen.head()

,id.orig_p,id.resp_h,id.resp_p,proto,conn_state,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,label,anyo,mes,dia,hora
0,"51,524",65.127.233.163,23,tcp,S0,0,S,3,180,0,0,Malicious,2018,5,9,15
1,"56,305",63.150.16.171,23,tcp,S0,0,S,1,60,0,0,Malicious,2018,5,9,15
2,"41,101",111.40.23.49,23,tcp,S0,0,S,1,60,0,0,Malicious,2018,5,9,15
3,"60,905",131.174.215.147,23,tcp,S0,0,S,3,180,0,0,Malicious,2018,5,9,15
4,"44,301",91.42.47.63,23,tcp,S0,0,S,1,60,0,0,Malicious,2018,5,9,15

In [107]:
df_malware_origen.to_csv("D:\Cursos\REPOSITORIOS\DATASET\malware_total\df_malware_origen.csv", index=False)

HAGO OTRO DF SAMPLE CON EL ARVHIVO ORIGINAL SIN TRATAR CON NAN

In [118]:
dtypes= {8: 'str', 9: 'str', 10: 'str'}
df_muestra_sin_nulos_guiones=pd.read_csv(r"D:\Cursos\REPOSITORIOS\DATASET\malware_total\df_malware_origen.csv", chunksize=10000000, dtype=dtypes)
for chunk in df_muestra_sin_nulos_guiones:
    # Obtiene una muestra aleatoria de 194000 filas que son 5mb
    df_muestra_sin_nulos_guiones= chunk.sample(330000)
    
size = df_muestra_sin_nulos_guiones.size

size_mb = size / 1024 / 1024
size_mb

5.035400390625

In [119]:
df_muestra_sin_nulos_guiones.to_csv(r"D:\Cursos\REPOSITORIOS\DATASET\malware_total\df_sample_proyecto_1_1.csv", index=False)

CONTINUA EN EL NOTEBOOK 1.1