In [1]:
import seaborn as sns
import funciones_ML as bt

In [2]:
df = sns.load_dataset("diamonds")

In [3]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [4]:
df.clarity.value_counts()/len(df)*100

clarity
SI1     24.221357
VS2     22.725250
SI2     17.044865
VS1     15.148313
VVS2     9.391917
VVS1     6.776047
IF       3.318502
I1       1.373749
Name: count, dtype: float64

In [5]:
df.color.value_counts()/len(df)*100

color
G    20.934372
E    18.162773
F    17.690026
H    15.394883
D    12.560252
I    10.051910
J     5.205784
Name: count, dtype: float64

In [6]:
df.cut.value_counts()/len(df)*100

cut
Ideal        39.953652
Premium      25.567297
Very Good    22.398962
Good          9.095291
Fair          2.984798
Name: count, dtype: float64

In [7]:

bt.obtener_estadisticas(df)

,porcentaje_cardinalidad,Tipo,media,moda,std,var,Q1,mediana,Q3,Categoria,porcentaje_NaN
carat,0.51,float64,0.8,No,0.47,0.22,0.4,0.7,1.04,numerica continua,0.0
cut,0.01,category,No,Ideal,No,No,No,No,No,categorica ordinal,0.0
color,0.01,category,No,G,No,No,No,No,No,categorica ordinal,0.0
clarity,0.01,category,No,SI1,No,No,No,No,No,categorica ordinal,0.0
depth,0.34,float64,61.75,No,1.43,2.05,61.0,61.8,62.5,numerica continua,0.0
table,0.24,float64,57.46,No,2.23,4.99,56.0,57.0,59.0,numerica continua,0.0
price,21.51,int64,3932.8,No,3989.44,15915629.42,950.0,2401.0,5324.25,numerica continua,0.0
x,1.03,float64,5.73,No,1.12,1.26,4.71,5.7,6.54,numerica continua,0.0
y,1.02,float64,5.73,No,1.14,1.3,4.72,5.71,6.54,numerica continua,0.0
z,0.7,float64,3.54,No,0.71,0.5,2.91,3.53,4.04,numerica continua,0.0

In [8]:
import pandas as pd
from scipy import stats
from scipy.stats import f_classif



def get_features_num_classification(df, target_col, pvalue=0.05):
        # Check if the input is a dataframe
    if not isinstance(df, pd.DataFrame):
            print('Input must be a pandas DataFrame.')
            return None
    # Check if target_col exists in the dataframe
    if target_col not in df.columns:
            print('Target column does not exist in the DataFrame.')
            return None
    # Check if target_col is a numeric continuous variable
    if not (df[target_col].nunique() > 2 and df[target_col].dtype in ['int', 'float']):
            print('Target column must be numeric and continuous with more than 2 unique values.')
            return None
    # Check if pvalue is between 0 and 1
    if pvalue <= 0 or pvalue >= 1:
            print('pvalue must be between 0 and 1.')
            return None
    # Get the columns to be analyzed
    numeric_features = df.select_dtypes(include='number').columns
        
        # Perform ANOVA for each feature and the target variable
    f_values, p_values = [], []
    for feature in numeric_features:
            if feature == target_col:
                continue
            _, f_val, p_val = stats.f_classif(df[target_col], df[feature])
            f_values.append(f_val)
            p_values.append(p_val)
        
            significant_features = [feature for feature, p_val in zip(numeric_features, p_values) if p_val <= pvalue]
        
            return significant_features

ImportError: cannot import name 'f_classif' from 'scipy.stats' (/home/vicevil/miniconda3/envs/base.ENV/lib/python3.11/site-packages/scipy/stats/__init__.py)

In [ ]:
import scipy
print(scipy.__version__)

1.11.4

In [ ]:
get_features_num_classification(df=df, target_col="price", pvalue=0.05)

AttributeError: module 'scipy.stats' has no attribute 'f_classif'