In [30]:

import geopandas as gpd
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import sketch
from shapely.geometry import Point
import time
from translate import Translator

# Configurar pandas para mostrar todas las filas y columnas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)


df_cyber_salary = pd.read_table("E:\Cursos\BC_Data_Science\Repositorio\ONLINE_DS_THEBRIDGE_V\proyecto EDA\DATASETS\cyber_salarios_cyber\Cyber_salaries.csv", delimiter=',')

**Dataset:**  
**Descripción:**  
**Periodo:**  

|Columna/Variable|Descripción|Tipo_de_Variable|Importancia inicial|Nota|
|-|-|-|-|-|
|Col1|Se trata de la variable que mide x...|||||

DATAFRAME DONDE SE VEN LOS SALARIOS EN RELACION A EXPERIENCIA Y LUGARES DE DESARROLLO, ASI COMO MEDIO A TRAVES DEL QUE SE LLEVA ACABO EL TRABAJO

In [2]:
df_cyber_salary.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,EN,FT,Information Security Officer,68000,EUR,72762,DE,100,DE,S
1,2022,SE,FT,Security Officer,123400,USD,123400,US,0,US,M
2,2022,SE,FT,Security Officer,88100,USD,88100,US,0,US,M
3,2022,SE,FT,Security Engineer,163575,USD,163575,US,100,US,M
4,2022,SE,FT,Security Engineer,115800,USD,115800,US,100,US,M
5,2022,MI,FT,Penetration Testing Engineer,40000,EUR,42801,CY,100,CY,L
6,2022,SE,FT,Security Analyst,136600,USD,136600,US,100,US,M
7,2022,SE,FT,Security Analyst,109280,USD,109280,US,100,US,M
8,2022,SE,FT,Security Engineer,211600,USD,211600,US,100,US,M
9,2022,SE,FT,Security Engineer,182160,USD,182160,US,100,US,M

VAMOS A TRADUCIR ESTE DF A ESPAÑOL

In [3]:
#creo un diccionario con la columnas traducidas
diccionario_traducciones = {
    'work_year': 'año laboral',
    'experience_level': 'nivel de experiencia',
    'employment_type': 'tipo de empleo',
    'job_title': 'nombre del puesto',
    'salary': 'salario',
    'salary_currency': 'moneda del salario',
    'salary_in_usd': 'salario en USD',
    'employee_residence': 'residencia del empleado',
    'remote_ratio': 'proporción remota',
    'company_location': 'ubicación de la empresa',
    'company_size': 'tamaño de la empresa'}

In [6]:
# HAGO UNA COPIA POR SI ACASO
df_ciber_salario = df_cyber_salary.copy()

In [49]:
# HAGO UN NUEVO DF CON LAS COLUMNS TRADUCIDAS
df_ciber_salario.rename(columns=diccionario_traducciones, inplace=True)
df_ciber_salario.head(2)

,año laboral,nivel de experiencia,tipo de empleo,nombre del puesto,salario,moneda del salario,salario en USD,residencia del empleado,proporción remota,ubicación de la empresa,tamaño de la empresa,significado del empleo,categoria de empleo,tipo de experiencia,aptitudes por tipo de experiencia
0,2022,EN,FT,Information Security Officer,68000,EUR,72762,DE,100,DE,S,"Un empleado a tiempo completo trabaja las horas estándar o requeridas por la empresa, generalmente al menos 40 horas a la semana",Full-Time(Tiempo Completo),Entry-Level (Nivel de Entrada,"Indica un nivel básico de habilidades y experiencia, generalmente adecuado para personas que están comenzando en el campo."
1,2022,SE,FT,Security Officer,123400,USD,123400,US,0,US,M,"Un empleado a tiempo completo trabaja las horas estándar o requeridas por la empresa, generalmente al menos 40 horas a la semana",Full-Time(Tiempo Completo),Security Expert (Experto en Seguridad),Indica un nivel de experiencia más avanzado en el ámbito de la seguridad informática. Los profesionales con esta designación suelen tener habilidades especializadas en seguridad.

In [8]:
df_ciber_salario_trad = df_ciber_salario.copy()

In [7]:
#traducir nombre del puesto

# Función para traducir una columna del DataFrame
def traducir_columna(df_ciber_salario_trad, columna, idioma_destino):
    translator = Translator(to_lang=idioma_destino)
    df_ciber_salario_trad[columna + '_traducido'] = df_ciber_salario_trad[columna].apply(lambda x: translator.translate(x))
    return df_ciber_salario_trad

# Especifica la columna que deseas traducir y el idioma de destino
columna= "nombre del puesto"
idioma_destino = 'es'

# Aplica la traducción a la columna especificada
df_traducido = traducir_columna(df_ciber_salario_trad, columna, idioma_destino)

# Muestra el DataFrame con la columna traducida
print(df_ciber_salario_trad)

:

In [ ]:
#df_ciber_salario_trad

In [52]:
#creo una tabla con los niveles de experiencia en ciberseguridad, LAS ABREBIATURAS MAS COMUNES Y SU SIGNIFICADO
# Crear un DataFrame con la información proporcionada
data = {
    'Abreviatura': ['EN', 'SE', 'MI', 'SENIOR', 'CTO', 'CISO', 'CEH', 'CISSP', 'CompTIA Security+', 'GIAC', 'EX'],
    'Nivel_o_Certificación': ['Entry-Level (Nivel de Entrada)', 'Security Expert (Experto en Seguridad)', 'Mid-Level (Nivel Intermedio)',
                              'Senior (Senior)', 'Chief Technology Officer (Director de Tecnología)',
                              'Chief Information Security Officer (Oficial Principal de Seguridad de la Información)',
                              'Certified Ethical Hacker', 'Certified Information Systems Security Professional',
                              'CompTIA Security+', 'Global Information Assurance Certification', 'Experienced'],
    'Significado': [
        'Indica un nivel básico de habilidades y experiencia, generalmente adecuado para personas que están comenzando en el campo.',
        'Indica un nivel de experiencia más avanzado en el ámbito de la seguridad informática. Los profesionales con esta designación suelen tener habilidades especializadas en seguridad.',
        'Indica un nivel intermedio de habilidades y experiencia. Las personas en este nivel han adquirido experiencia adicional después del nivel de entrada.',
        'Indica un nivel de experiencia avanzado. Los profesionales senior suelen tener una amplia experiencia y conocimientos en su campo.',
        'Indica un rol de liderazgo en el que la persona es responsable de la dirección tecnológica de una organización.',
        'Indica un rol de liderazgo centrado en la seguridad de la información en una organización.',
        'Certificación que demuestra habilidades en hacking ético y seguridad de sistemas.',
        'Certificación de seguridad de la información reconocida a nivel internacional.',
        'Certificación de seguridad que valida habilidades fundamentales en seguridad informática.',
        'Certificación de seguridad de la información ofrecida por SANS Institute.',
        'Indica un nivel de experiencia muy expecializado en un ambito muy concreto dentro de la ciberseguridad'
    ]
}

df_ciber_experiencia = pd.DataFrame(data)


# Guardar como Excel
df_ciber_experiencia.to_excel(r'E:\Cursos\BC_Data_Science\Repositorio\ONLINE_DS_THEBRIDGE_V\proyecto EDA\DATASETS\cyber_salarios_cyber\df_ciber_experiencia_certificaciones.xlsx', index=False)

In [14]:
#VOY A CREAR APARANDOME EN LA TABLA ANTERIOR, UNA NUEVA COLUMNA "TIPOS DE EMPPLEO"
tipos_empleo_ciberseguridad = {
    'FT': {
        'Nombre': 'Full-Time (Tiempo Completo)',
        'Ejemplo': 'Un empleado a tiempo completo trabaja las horas estándar o requeridas por la empresa, generalmente al menos 40 horas a la semana.'
    },
    'PT': {
        'Nombre': 'Part-Time (Tiempo Parcial)',
        'Ejemplo': 'Un empleado a tiempo parcial trabaja un número reducido de horas en comparación con un empleado a tiempo completo. Las horas pueden variar, pero generalmente son menos de 30 horas a la semana.'
    },
    'CT': {
        'Nombre': 'Contract (Contrato)',
        'Ejemplo': 'Un empleado contratado tiene un acuerdo laboral por un período específico o para un proyecto particular. La relación laboral puede finalizar una vez que se complete el contrato.'
    },
    'FL': {
        'Nombre': 'Freelance (Trabajador Autónomo o Independiente)',
        'Ejemplo': 'Un trabajador independiente trabaja de manera autónoma y generalmente es contratado por proyectos específicos. No está vinculado a una empresa de manera permanente.'
    }
}

df_ciber_contratos = pd.DataFrame(tipos_empleo_ciberseguridad)


# Guardar como Excel
df_ciber_contratos.to_excel(r'E:\Cursos\BC_Data_Science\Repositorio\ONLINE_DS_THEBRIDGE_V\proyecto EDA\DATASETS\cyber_salarios_cyber/df_ciber_contratos.xlsx', index=False)

In [54]:
# abrirlo
df_ciber_contratos = pd.read_excel(r'E:\Cursos\BC_Data_Science\Repositorio\ONLINE_DS_THEBRIDGE_V\proyecto EDA\DATASETS\cyber_salarios_cyber/df_ciber_contratos.xlsx')
df_ciber_contratos.head(1)

,FT,PT,CT,FL
0,Full-Time (Tiempo Completo),Part-Time (Tiempo Parcial),Contract (Contrato),Freelance (Trabajador Autónomo o Independiente)

In [55]:
#df_ciber_salario.head(1)

In [18]:
# COMPRUEBO LAS INICIALES QUE ESTAN EN MI DF
df_ciber_salario["nivel de experiencia"].unique()

array(['EN', 'SE', 'MI', 'EX'], dtype=object)

crear una funcion para establecer la categoria  tipo de empleo

In [19]:

def empleo2(tipo):
    if tipo == "FT":
        return "Un empleado a tiempo completo trabaja las horas estándar o requeridas por la empresa, generalmente al menos 40 horas a la semana"
    elif tipo == "PT":
        return "Un empleado a tiempo parcial trabaja un número reducido de horas en comparación con un empleado a tiempo completo. Las horas pueden variar, pero generalmente son menos de 30 horas a la semana."
    elif tipo == "CT":
        return "Un empleado contratado tiene un acuerdo laboral por un período específico o para un proyecto particular. La relación laboral puede finalizar una vez que se complete el contrato."
    elif tipo == "FL":
        return "Un trabajador independiente trabaja de manera autónoma y generalmente es contratado por proyectos específicos. No está vinculado a una empresa de manera permanente"
    
# asigno categoria al df_ciber_salrio
df_ciber_salario['significado del empleo'] = df_ciber_salario['tipo de empleo'].apply(empleo2)

In [20]:
def empleo(tipo):
    if tipo == "FT":
        return "Full-Time(Tiempo Completo)"
    elif tipo == "PT":
        return "Part-Time(Tiempo Parcial)"
    elif tipo == "CT":
        return "Contract(Contrato)"
    elif tipo == "FL":
        return "Freelance(Trabajador Autónomo)"
    

# asigno categoria al df_ciber_salrio
df_ciber_salario['categoria de empleo'] = df_ciber_salario['tipo de empleo'].apply(empleo)

crear una funCion para establecer la categoria de  nivel de experiencia,

In [21]:
# prosigo con la columna nivel de experiecnia
def certificacion (tipo): 
    if tipo == "EN":
        return "Entry-Level (Nivel de Entrada"
    elif tipo =="SE":
        return "Security Expert (Experto en Seguridad)"
    elif tipo =="MI":
        return "Mid-Level (Nivel Intermedio)"
    elif tipo =="EX":
        return "High Experienced"

 #asigno categoria al df_ciber_salrio
df_ciber_salario['tipo de experiencia'] = df_ciber_salario['nivel de experiencia'].apply(certificacion)

In [22]:
#prosigo con la columna nivel de experiecnia
def certificacion2 (tipo): 
    if tipo == "EN":
        return "Indica un nivel básico de habilidades y experiencia, generalmente adecuado para personas que están comenzando en el campo."
    elif tipo =="SE":
        return "Indica un nivel de experiencia más avanzado en el ámbito de la seguridad informática. Los profesionales con esta designación suelen tener habilidades especializadas en seguridad."
    elif tipo =="MI":
        return "Indica un nivel intermedio de habilidades y experiencia. Las personas en este nivel han adquirido experiencia adicional después del nivel de entrada."
    elif tipo =="EX":
        return "Indica un nivel de experiencia muy expecializado en un ambito muy concreto dentro de la ciberseguridad"

 #asigno categoria al df_ciber_salrio
df_ciber_salario['aptitudes por tipo de experiencia'] = df_ciber_salario['nivel de experiencia'].apply(certificacion2)

In [56]:
#guardo el df
df_ciber_salario.to_excel("E:\Cursos\BC_Data_Science\Repositorio\ONLINE_DS_THEBRIDGE_V\proyecto EDA\DATASETS\DATASETS MODIFICADOS\df_ciber_salario.xlsx", index=False)

In [57]:
df_ciber_salario.head(1)

,año laboral,nivel de experiencia,tipo de empleo,nombre del puesto,salario,moneda del salario,salario en USD,residencia del empleado,proporción remota,ubicación de la empresa,tamaño de la empresa,significado del empleo,categoria de empleo,tipo de experiencia,aptitudes por tipo de experiencia
0,2022,EN,FT,Information Security Officer,68000,EUR,72762,DE,100,DE,S,"Un empleado a tiempo completo trabaja las horas estándar o requeridas por la empresa, generalmente al menos 40 horas a la semana",Full-Time(Tiempo Completo),Entry-Level (Nivel de Entrada,"Indica un nivel básico de habilidades y experiencia, generalmente adecuado para personas que están comenzando en el campo."

In [58]:
# CARDINALIDAD
df_cardinalidad = pd.DataFrame([df_ciber_salario.nunique(), df_ciber_salario.nunique()/len(df_ciber_salario)*100, df_ciber_salario.dtypes]).T.rename(columns ={0:"card",\
                                                                                                                                    1: "%_card", 2: "Tipo"})

In [59]:
df_cardinalidad

                                  card     %_card    Tipo
año laboral                          3   0.222387   int64
nivel de experiencia                 4   0.296516  object
tipo de empleo                       4   0.296516  object
nombre del puesto                   87   6.449222  object
salario                            416  30.837658   int64
moneda del salario                  21   1.556709  object
salario en USD                     615  45.589325   int64
residencia del empleado             60   4.447739  object
proporción remota                    3   0.222387   int64
ubicación de la empresa             57   4.225352  object
tamaño de la empresa                 3   0.222387  object
significado del empleo               4   0.296516  object
categoria de empleo                  4   0.296516  object
tipo de experiencia                  4   0.296516  object
aptitudes por tipo de experiencia    4   0.296516  object